- var pagetitle = "Веб-сайты, форумы, порталы. С 200% гарантией | Васильков ГН"
- var alt = "Эффективная разработка ПО. Васильков ГН"
- var title = "Эффективная разработка ПО. Васильков ГН"

- var tags = []
- tags.push({name: 'Резюме', comment: 'Если вы пришли сюда за моим резюме для вашего большого босса, просто нажмите "Перенаправить далее".'})
- tags.push({name: 'Маркетинг', comment: 'Бесплатные консультации по интернет-маркетингу.'})
- tags.push({name: 'Программирование', comment: 'Обучение программированию с нуля через Skype. Домашние задания будут, а значит и результаты тоже.'})
- tags.push({name: 'Веб-дизайн', comment: 'Ваши клиенты реагируют на внешний вид больше, чем на качество вашей работы.'})
- tags.push({name: 'Форумы', comment: 'Основа ваших прибылей - "живое" сообщество, которое притягивает людей. Обычный форум притягивает людей, но качественный форум удерживает их рядом с вашей бухгалтерией.'})
- tags.push({name: 'Поиск наилучших решений', comment: 'Дмитрий Новосельцев из Санкт-Петербурга предлагает концепцию наилучших решений. Уверен, вам стоит с ней ознакомиться.'})
- tags.push({name: 'Сайты для мобильных телефонов', comment: 'Все больше ваших клиентов хотят, чтобы они могли с помощью телефона делать то же, что и с компьютера. Еще одна стратегия для вашей воронки продаж.'})
- tags.push({name: 'Социальные сети', comment: 'Интернет-продвижение базируется на социальных сетях. Это может стать источником траффика для ваших продаж.'})
- tags.push({name: 'Поведенческая экономика', comment: 'Сколько Бентли вам нужно в семью? "По одной на каждого и одну на запчасти". А сколько купили в прошлом месяце? Есть наука, которая отвечает, почему.'})
- tags.push({name: 'Бизнес-молодость', comment: 'И этих замечательных парней я тоже смотрел очень много. Вел коспекты, усердно делал домашние задания. Разве не прелесть - получить все и сразу?'})
- tags.push({name: 'Лендинг', comment: 'Посадочная страница может дать вам быстрые продажи с минимальными вложениями. Доверие к клиенту выстраивается на раз.'})
- tags.push({name: 'Корпоративный сайт', comment: 'Вы можете быть огромной корпорацией, но в определенный момент все равно столкнетесь с тем, что у вашей корпорации должно быть лицо в Интернете.'})
- tags.push({name: 'Визитка', comment: 'Если все что вам нужно - это прием заявок от клиентов, а крутой лендинг - слишком дорогой, можно заказать визитку.'})
- tags.push({name: 'Аренда недвижимости', comment: 'Роберт Кийосаки, денежный поток, аренда - если эти слова вам близки, непременно жмите. У нас есть общие интересы.'})
- tags.push({name: 'Анимация HTML5/CSS3', comment: 'Современные возможности браузеров позволяют создавать великолепные проморолики для ваших продуктов. Мне кажется, нанимать аниматора за пару сотен тысяч слегка дороговато.'})
- tags.push({name: 'PHP и Backend', comment: 'Около 5 лет я провел в разработке сервисов и приложений исключительно на стороне сервера. И это не просто часик по вечерам. Это пять лет с утра до вечера. Кажется, теперь мне пора на стадион :)'})
- tags.push({name: 'JS и Frontend', comment: 'К сожалению, безумно дорогая в наше время сфера. Но, что поделать, умникам-программистам требуется козырь, чтобы забирать ваши денежки. Думаю, для меня это так же просто, как и любые другие программы.'})
- tags.push({name: 'Как найти работу?', comment: 'Мне посчастливилось жить в семье, где каждый уверен, что "на работу сейчас не берут". Я нашел решение, которое будет работать для каждого.'})
- tags.push({name: 'Теоретики', comment: 'Иногда я захожу на habrahabr.ru, чтобы почитать статью - как мне дальше делать тот или иной сайт. Однако с каждым разом статьи становятся все сложнее. В последнее время я стал уверен, что это специально, чтобы интернет казался дорогой сферой. Это не так.'})
- tags.push({name: 'Невидимки', comment: 'Может быть я старомоден, однако я замечал тенденцию за молодыми бизнесами - прятать лицо своих директоров в песок. Может я когда-нибудь к этому приду. Сейчас я доступен и отвечаю за каждое свое слово.'})
- tags.push({name: 'Менеджер проектов', comment: 'Мне доводилось управлять фрилансерами и я набил достаточно шишек, чтобы следить за вашими аболтусами :)'})

doctype html
html(lang="en")
  head
    title #{pagetitle}
    meta(charset="UTF-8")
    link(rel="stylesheet", href="my.css")
    link(rel="stylesheet", href="main.css")
  body
    #background
      table.e-center
        tr
          td
            .background.line
              .redirect.line
                .centered(style="width: 960px")
                  .redirect-in.line
                    .ph.line
                      img.img-loading(src="loading.gif", alt="#{alt}", title="#{title}")
                      span
                        em Перенаправляю на мой сайт.
              .cloud.line
                .centered(style="width: 960px")
                  .cloud-in.line
                    .columns.columns4.line
                      .column.column1
                        .sidebar.line
                          .header.line
                            h2 Теги
                          .ph.line
                            span Кратко о возможностях, в которых я разбираюсь. Я занимался этим 
                              strong большую часть своего времени
                              |  и буду рад, если мои навыки вам пригодятся.
                      .column.column3
                        .tags.line
                          each tag in tags
                            .tag.tooltip
                              a.link(href="mailto:gzhegow@gmail.com?subject=По поводу тега: #{tag.name}", target="_blank", alt="#{tag.name} | #{alt}") #{tag.name}
                              .append
                                .message.line
                                  .header.line
                                    strong #{tag.name}
                                  .ph.line
                                    span #{tag.comment}
                                  .ph.line
                                    span
                                      em Нажмите на тег, чтобы связаться со мной и задать вопрос
  script(data-main="js/main.js" src="js/require.js")